{% extends 'base_generic.html' %}

{% block content %}
  <h2>Programas</h2>
  <a href="{% url 'programa_create' aluno_id %}">Adicionar Novo Programa</a>
  <ul>
    {% for programa in programas %}
      <li>
        {{ programa.tipo }} - {{ programa.descricao }}
        <a href="{% url 'programa_update' aluno_id programa.pk %}">Editar</a>
        <a href="{% url 'programa_delete' aluno_id programa.pk %}">Deletar</a>
        <a href="{% url 'treino_list' programa.pk %}">Ver Treinos</a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
