{% extends "base_generic.html" %}
{% load user_tags %}
{% block title %}Avaliações de {{ aluno.username }}{% endblock %}
{% block content %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-lg-6 col-md-6 mt-4 mb-4">
      <div class="card z-index-2">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-primary_jsom shadow-primary_jsom border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="chart-peso" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0">Desempenho do seu Peso(Kg)</h6>
          {% if avaliacoes %}
            {% with avaliacoes.last as ultima_avaliacao %}
                <p class="text-sm mb-0">Ultima observação: {{ ultima_avaliacao.observacao }}</p>
              {% endwith %}
            {% else %}
              <p class="text-sm mb-0">Nenhuma observação disponível.</p>
          {% endif %}
          <hr class="dark horizontal">
          <div class="d-flex">
            <i class="material-icons text-sm my-auto me-1">schedule</i>
            {% if avaliacoes %}
              {% with avaliacoes.last as ultima_avaliacao %}
                  <p class="text-sm mb-0">Peso mais recente: {{ ultima_avaliacao.peso }} kg em {{ ultima_avaliacao.data_avaliacao|date:"j N Y à\s H:i" }}</p>
                {% endwith %}
              {% else %}
                <p class="text-sm mb-0">Nenhuma avaliação disponível.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mt-4 mb-4">
      <div class="card z-index-2">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
          <div class="bg-gradient-primary_jsom shadow-primary_jsom border-radius-lg py-3 pe-1">
            <div class="chart">
              <canvas id="chart-altura" class="chart-canvas" height="170"></canvas>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h6 class="mb-0">Evolução da sua altura(m)</h6>
          {% if avaliacoes %}
            {% with avaliacoes.last as ultima_avaliacao %}
                <p class="text-sm mb-0">Ultima observação: {{ ultima_avaliacao.observacao }}</p>
              {% endwith %}
            {% else %}
              <p class="text-sm mb-0">Nenhuma observação disponível.</p>
          {% endif %}
          <hr class="dark horizontal">
          <div class="d-flex">
            <i class="material-icons text-sm my-auto me-1">schedule</i>
            {% if avaliacoes %}
              {% with avaliacoes.last as ultima_avaliacao %}
                  <p class="text-sm mb-0">Altura mais recente: {{ ultima_avaliacao.altura }} m em {{ ultima_avaliacao.data_avaliacao|date:"j N Y à\s H:i" }}</p>
                {% endwith %}
              {% else %}
                <p class="text-sm mb-0">Nenhuma avaliação disponível.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header d-flex justify-content-md-between flex-wrap pb-0 px-3">
        <div class="text-center mb-0 d-flex align-items-center ms-2">
          <h6 class="ms-3 fs-3 text-center fw-bold ">Informações de Avaliação do aluno
            <span class="text-primary_jsom text-decoration-underline">{{ aluno.username }}</span>
          </h6>
        </div>
        {% if user|has_group:"Personal" %}
          <div class=" mb-0 me-3 ">
            <a class="btn mb-0 bg-gradient-primary_jsom mb-0 me-3" href="{% url 'avaliacoes:cria_avaliacao' aluno.id %}">
              <i class="material-icons text-sm">add</i>&nbsp;&nbsp;Adicionar Avaliação
            </a>
          </div>
        {% endif %}
      </div>
      <div class="card-body pt-4 p-3">
        <ul class="list-group">
          {% for avaliacao in avaliacoes %}
            <li class="list-group-item border-0 d-flex flex-wap p-4 mb-2 bg-gray-100 border-radius-lg mx-3">
              <div class="d-flex flex-column">
                <h6 class="mb-3 text-sm">Avaliação em {{ avaliacao.data_avaliacao|date:"j N Y à\s H:i" }}</h6>
                <span class="mb-2 text-xs">Peso: <span class="text-dark font-weight-bold ms-sm-2">{{ avaliacao.peso }} kg</span></span>
                <span class="mb-2 text-xs">Altura: <span class="text-dark ms-sm-2 font-weight-bold">{{ avaliacao.altura }} m</span></span>
                <span class="text-xs">Observação: <span class="text-dark ms-sm-2 font-weight-bold">{{ avaliacao.observacao }}</span></span>
              </div>
              {% if user|has_group:"Personal" %}
                <div class="ms-auto text-end">
                  <form class="d-inline" method="post" action="{% url 'avaliacoes:deleta_avaliacao' avaliacao.id %}" onsubmit="return confirm('Você tem certeza que deseja excluir esta avaliação?');">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link text-danger text-gradient px-3 mb-0">
                      <i class="material-icons text-sm me-2">delete</i>Deletar
                    </button>
                  </form>
                  <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'avaliacoes:atualiza_avaliacao' avaliacao.id %}">
                    <i class="material-icons text-sm me-2">edit</i>Editar
                  </a>
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {% if user|has_group:"Personal" %}
        <div class="w-100 d-flex justify-content-start mb-3">
          <a href="{% url 'usuario:aluno_perfil' aluno.id %}" class="btn fs-6">
              <button type="button" class="btn icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left me-2" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                      <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                  </svg>
                    Voltar
              </button>
          </a>
        </div>
       {% endif %}
    </div>
  </div>
</div>
  <script>
    // Prepare os dados para os gráficos
    var avaliacaoDatas = [{% for avaliacao in avaliacoes %}"{{ avaliacao.data_avaliacao|date:'Y-m-d' }}"{% if not forloop.last %},{% endif %}{% endfor %}];
    var avaliacaoPesos = [{% for avaliacao in avaliacoes %}{{ avaliacao.peso|stringformat:"f" }}{% if not forloop.last %},{% endif %}{% endfor %}];
    var avaliacaoAlturas = [{% for avaliacao in avaliacoes %}{{ avaliacao.altura|stringformat:"f" }}{% if not forloop.last %},{% endif %}{% endfor %}];

    // Configuração do gráfico de Peso
    var ctxPeso = document.getElementById("chart-peso").getContext("2d");
    new Chart(ctxPeso, {
      type: "line",
      data: {
        labels: avaliacaoDatas,
        datasets: [{
          label: "Peso (kg)",
          data: avaliacaoPesos,
          borderColor: 'rgba(255, 255, 255, .8)',
          backgroundColor: 'rgba(255, 255, 255, .2)',
          borderWidth: 2,
          pointBackgroundColor: 'rgba(255, 255, 255, .8)',
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            grid: {
              color: 'rgba(255, 255, 255, .2)',
              borderDash: [5, 5],
            },
            ticks: {
              color: '#f8f9fa',
              padding: 10,
              callback: function(value) {
                return value.toFixed(2) + ' kg'; // Formata os ticks do eixo Y
              }
            }
          },
          x: {
            grid: {
              color: 'rgba(255, 255, 255, .2)',
              borderDash: [5, 5],
            },
            ticks: {
              color: '#f8f9fa',
              padding: 10,
            }
          }
        },
        plugins: {
          legend: {
            display: false,
          }
        }
      }
    });

    // Configuração do gráfico de Altura
    var ctxAltura = document.getElementById("chart-altura").getContext("2d");
    new Chart(ctxAltura, {
      type: "line",
      data: {
        labels: avaliacaoDatas,
        datasets: [{
          label: "Altura (m)",
          data: avaliacaoAlturas,
          borderColor: 'rgba(255, 255, 255, .8)',
          backgroundColor: 'rgba(255, 255, 255, .2)',
          borderWidth: 2,
          pointBackgroundColor: 'rgba(255, 255, 255, .8)',
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            grid: {
              color: 'rgba(255, 255, 255, .2)',
              borderDash: [5, 5],
            },
            ticks: {
              color: '#f8f9fa',
              padding: 10,
              callback: function(value) {
                return value.toFixed(2) + ' m'; // Formata os ticks do eixo Y
              }
            }
          },
          x: {
            grid: {
              color: 'rgba(255, 255, 255, .2)',
              borderDash: [5, 5],
            },
            ticks: {
              color: '#f8f9fa',
              padding: 10,
            }
          }
        },
        plugins: {
          legend: {
            display: false,
          }
        }
      }
    });
  </script>
{% endblock %}
