{% extends 'base_generic.html' %}
{% block title %}Meus Treinos{% endblock title %}
{% block content %}

<div class="w-100">
  <h1 class="mt-3 mb-3 fs-1 form-text text-center">Lista de Treinos</h1>
  {% if treinos %}
      <div class="container mb-3">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="accordion" id="accordionTreinos">
              {% for treino in treinos %}
                <div class="accordion-item mb-2">
                  <h3 class="accordion-header" id="heading{{ treino.id }}">
                    <button class="accordion-button border-bottom-2 font-weight-bold collapsed fs-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ treino.id }}" aria-expanded="false" aria-controls="collapse{{ treino.id }}">
                      {{ treino.descricao }} - {{ treino.tipo }}
                      <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                      <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
                    </button>
                  </h3>
                  <div id="collapse{{ treino.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ treino.id }}" data-bs-parent="#accordionTreinos">
                    <div class="accordion-body">
                      <ul class="list-group">
                        {% for execucao in treino.execucoes.all %}
                          <div class="accordion-body text-lg opacity-8 accordion d-flex justify-content-between">
                            <span class="exercicio-link fw-bolder" data-id="{{ execucao.id }}" data-nome="{{ execucao.exercicio.nome }}" data-descricao="{{ execucao.exercicio.descricao }}" data-carga="{{ execucao.carga }}" data-serie="{{ execucao.serie }}" data-repeticoes="{{ execucao.repeticoes }}" data-imagem="{% if execucao.exercicio.imagem %}{{ execucao.exercicio.imagem.url }}{% endif %}">
                              {{ execucao.exercicio.nome }}
                            </span>
                            <div class="checkbox-wrapper-12">
                              <div class="cbx">
                                <input {% if execucao.status %}checked{% endif %} type="checkbox" data-id="{{ execucao.id }}" class="status-checkbox">
                                <label for="cbx-12" style="margin: 0 !important;"></label>
                                <svg fill="none" viewBox="0 0 15 14" height="14" width="15">
                                  <path d="M2 8.36364L6.23077 12L13 2"></path>
                                </svg>
                              </div>
                              <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                  <filter id="goo-12">
                                    <feGaussianBlur result="blur" stdDeviation="4" in="SourceGraphic"></feGaussianBlur>
                                    <feColorMatrix result="goo-12" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 22 -7" mode="matrix" in="blur"></feColorMatrix>
                                    <feBlend in2="goo-12" in="SourceGraphic"></feBlend>
                                  </filter>
                                </defs>
                              </svg>
                            </div>
                          </div>
                          <hr class="horizontal my-0 light">
                        {% empty %}
                          <li class="list-group-item">Nenhuma execução encontrada</li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
  {% else %}
    <div class="alert bg-gradient-primary_jsom alert-dismissible d-flex justify-content-center mx-4" role="alert">
      <p class="fs-5 m-0">
        <strong class="text-branco-50">Atenção!</strong>
        <span class="text-branco-50">Não existe nenhum treino aqui ainda!</span>
        <span class="text-branco-90 fw-bold"> Peça para seu personal adicionar a sua lista de treinos!</span>
      </p>
    </div>
  {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="exercicioModal" tabindex="-1" role="dialog" aria-labelledby="exercicioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content dark-version">
      <div class="modal-header" style="border: none;">
        <h6 class="modal-title font-weight-normal text-dark" id="exercicioModalLabel">Detalhes do Exercício</h6>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <hr class="horizontal my-0 light">
      <div class="modal-body">
        <h6 id="modalNome"></h6>
        <p id="modalDescricao"></p>
        <p><strong>Carga:</strong> <span id="modalCarga"></span> Kg</p>
        <p><strong>Série:</strong> <span id="modalSerie"></span></p>
        <p><strong>Repetições:</strong> <span id="modalRepeticoes"></span></p>
        <a class="d-block blur-shadow-image">
            <img id="modalImagem" src=""  alt="img-blur-shadow" class="img-fluid shadow rounded-3 p-2 bg-light w-100">
        </a>
      </div>
      <hr class="horizontal my-0 light">
      <div class="modal-footer" style="border: none;">
        <button type="button" class="btn bg-gradient-primary_jsom  ml-auto" data-bs-dismiss="modal">Voltar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

<script>
  $(document).ready(function(){
    $('.status-checkbox').change(function(){
      var execucaoId = $(this).data('id');
      var status = $(this).is(':checked');
      $.ajax({
        url: "{% url 'treinos:execucao_status' %}",
        method: "POST",
        data: {
          'execucao_id': execucaoId,
          'status': status,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response){
          console.log('Status atualizado com sucesso.');
        },
        error: function(xhr, status, error){
          console.error('Erro ao atualizar status:', error);
        }
      });
    });

    $('.exercicio-link').click(function(){
      var nome = $(this).data('nome');
      var descricao = $(this).data('descricao');
      var carga = $(this).data('carga');
      var serie = $(this).data('serie');
      var repeticoes = $(this).data('repeticoes');
      var imagem = $(this).data('imagem');

      $('#modalNome').text(nome);
      $('#modalDescricao').text(descricao);
      $('#modalCarga').text(carga);
      $('#modalSerie').text(serie);
      $('#modalRepeticoes').text(repeticoes);
      if (imagem) {
        $('#modalImagem').attr('src', imagem).show();
      } else {
        $('#modalImagem').hide();
      }

      // Remover backdrop ao mostrar modal
      $('#exercicioModal').on('shown.bs.modal', function () {
        $('.modal-backdrop').remove();
      });

      $('#exercicioModal').modal('show');
    });
  });
</script>

{% endblock %}
