{% extends "base_generic.html" %}

{% block content %}
<h2>Perfil de {{ aluno.username }}</h2>
<p>Nome Completo: {{ aluno.get_full_name }}</p>
<p>Email: {{ aluno.email }}</p>
<p>CPF: {{ aluno.cpf }}</p>
<p>Endereço: {{ aluno.endereco }}</p>
<p>Data de nascimento: {{ aluno.data_nascimento }}</p>

<!-- Ações no Aluno -->
<a href="{% url 'usuario:aluno_updade' aluno.id %}">Editar</a>
<a href="{% url 'avaliacoes:lista_avaliacoes' aluno.id %}">Avaliar</a>
<a href="{% url 'programa_list' aluno.id %}">Gerenciar Programas</a>
{% endblock %}
