{% extends "base_generic.html" %}
{% block title %}Alterar dados de {{ aluno.username }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-10 mx-auto">
        <form role="form" class="row g-1 d-flex flex-column align-items-center" method="POST" >
            <h2 class="font-weight-bolder mb-0 col-md-6 text-center">
                Perfil do Aluno: <span class="text-primary_jsom text-decoration-underline">{{ aluno.username }}</span>
            </h2>
            {% csrf_token %}
            {% for field in form %}
                <p class="help-text fw-bold ">
                    {{ field.errors }}
                </p>
  
                <div class=" d-flex align-items-center col-md-6">
  
                    <div class="input-group input-group-outline is-filled">
                        <label for="{{field.id_for_label}}" class="form-label">
                            {{field.label}}
                            {% if field.help_text %}
                                {{ field.help_text }}
                            {% endif %}
                        </label>
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="col-md-6">
                <button class="btn bg-gradient-primary_jsom mt-4 w-100 fs-6" type="submit">Atualizar</button>
                <div class="w-100 d-flex justify-content-start mb-3">
                    <a href="{% url 'usuario:aluno_perfil' aluno.id %}" class="btn fs-6 w-100 text-center">
                        <button type="button" class="btn icon-link icon-link-hover" style="--bs-icon-link-transform: translate3d(-.125rem, 0, 0);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left me-2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z"/>
                                <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
                            </svg>
                              Voltar
                        </button>
                    </a>
                </div>
            </div>
            
        </form>
      </div>
    </div>
  </div>

{% endblock %}
